@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");

$primary-color: hsl(38, 69%, 59%);
$secondary-color: #161513;
$primary-text-color: hsl(40, 7%, 8%);
$font-family-base: "Space Grotesk", sans-serif;
